


.fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
    opacity: 1;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.ficheZwart {
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
}

.ficheWit {
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    margin-left: 15px;
}



.bord {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -250px;

    filter: url('#filter-chalk');

    width: 500px;
    height: 500px;
}

.vakje {
    height: 62.5px;
    width: px;
    border: 3px solid #fff;

}



.svg-filter {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
}


@import url(//fonts.googleapis.com/css?family=Vibur);

html, body {
    height: 100%
}

body {
    background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg) center no-repeat;
    background-size: cover;
    margin: 0
}

.logo {
    text-align: center;
    width: 65%;
    height: 600px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
}

    .logo b {
        font: 400 19vh "Vibur";
        font-size: 50px;
        color: #ffffff;
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
    }

        .logo b span {
            animation: blink linear infinite 2s;
        }

            .logo b span:nth-of-type(2) {
                animation: blink linear infinite 3s;
            }


@keyframes blink {
    78% {
        color: inherit;
        text-shadow: inherit;
    }

    79% {
        color: #333;
    }

    80% {
        text-shadow: none;
    }

    81% {
        color: inherit;
        text-shadow: inherit;
    }

    82% {
        color: #333;
        text-shadow: none;
    }

    83% {
        color: inherit;
        text-shadow: inherit;
    }

    92% {
        color: #333;
        text-shadow: none;
    }

    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}

